body {
    margin: 0;
    padding: 0;
    line-height: 1.25;
    background-color: rgb(99, 83, 66);
}

.jumbotron {
    background-color: rgb(255, 219, 129);
    border-left: 4px solid red; 
    border-right: 4px solid red; 
}

.card {
    background-color: lemonchiffon;
}

.card-header {
    background-color: rgb(35, 190, 100);
}


.btn {
    color: rgb(0, 44, 109);
    background-color: #ffd000;
    border-color: #410000;
}